{
  "listen": ":9080",
  "static_key": "",
  "static_delete_key": "",
  "maximum_file_size": 50000000,
  
  "ssl": {
    "enabled": false,
    "listen": ":9443",
    "cert": "./cert.pem",
    "key": "./key.pem"
  },

  "cloudflare-cache-invalidate": {
    "enabled": false,
    "token": "cloudflare-token-here",
    "email": "cloudflare-login-email-here",
    "domain: "domain.com"
  }
}
